*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
   
}

.menu{
    padding: 30px;
    background-color: black;
    text-align: center;
    
}

.foto{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px;
    width: 25%;
    border-radius: 50px;
}

h1, h2{
    color: rgb(209, 209, 209);
    padding: 20px;
}

.cabecalho{
    margin-top: 10px;
    padding: 15px;
    text-align: center;
}

.cabecalho h3{
    color: rgb(117, 117, 117);
    padding: 1px;
    margin-bottom: 20px;
}
.cabecalho h4{
    background-color: #932c8b;
    margin-top: 40px;
    padding: 9px;
    color: rgb(245, 245, 245);
    text-align: left ;
}


div{
    display: inline-block;
    width: 25%;
    
}
.bio { 
    color: #020202;
    text-align: center;


}

.contato {  
    background-color: rgb(211, 209, 209);
    display: flex;
    justify-content:space-evenly;
    

}

.logo { 
    padding: 50px;
}


.img{
    height: 100px;
    width: 100px;
    margin-left: 30px;
    
}
.conteudo{ 
    font-style:bold;
}






